@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=PT+Serif&family=Roboto:wght@100&display=swap');

.font-roboto{
  font-family: 'Roboto', sans-serif;
}
.font-acme{
  font-family: 'Acme', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.customizeScroll::-webkit-scrollbar {
    width: 5px;
  }

.customizeScroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
.customizeScroll::-webkit-scrollbar-thumb {
    background:rgb(156, 197, 247);
    border-radius: 30px;
}
  
  /* Handle on hover */
.customizeScroll::-webkit-scrollbar-thumb:hover {
    background:rgb(137, 190, 255);
}

.darkScroll::-webkit-scrollbar {
  width: 5px;
}

.darkScroll::-webkit-scrollbar-track {
  background: #303030;
}

/* Handle */
.darkScroll::-webkit-scrollbar-thumb {
  background:rgb(156, 197, 247);
  border-radius: 30px;
}

/* Handle on hover */
.darkScroll::-webkit-scrollbar-thumb:hover {
  background:rgb(137, 190, 255);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #bebebe;
}
body.dark::-webkit-scrollbar-track {
  background: #303030;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background:rgb(156, 197, 247);
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background:rgb(137, 190, 255);
}

 .contentHeight{
   height: calc(100vh - 10rem);
   overflow-y: auto;
 }
 .contentHeightFull{
   height: calc(100vh - 7rem);
   overflow-y:auto;
 }
 .height86{
   height: 86%;
 }
.height90{
  height: 95%;
}

 .blueHighlight{
   background-color: rgb(171, 212, 247) 
 }
 .yellowHighlight{
   background-color: rgb(255, 240, 122) 
 }
 .greenHighlight{
   background-color: rgb(184, 228, 131) 
 }
 .pinkHighlight{
   background-color: rgb(255, 179, 235) 
 }
 .selectedHL{
   background-color: rgb(233, 233, 233) !important;
 }
 .selectedHLDark{
  background-color: rgb(55, 55, 55) !important;
 }

 
