*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.customizeScroll::-webkit-scrollbar {
    width: 5px;
  }

.customizeScroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
.customizeScroll::-webkit-scrollbar-thumb {
    background:rgb(156, 197, 247);
    border-radius: 30px;
  }
  
  /* Handle on hover */
.customizeScroll::-webkit-scrollbar-thumb:hover {
    background:rgb(137, 190, 255);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #bebebe;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background:rgb(156, 197, 247);
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background:rgb(137, 190, 255);
}

 .contentHeight{
   height: calc(100vh - 10rem);
   overflow-y: auto;
 }
 .contentHeightFull{
   height: calc(100vh - 7rem);
   overflow-y:auto;
 }
 .height86{
   height: 86%;
 }
.height90{
  height: 95%;
}
.test{
  background-color: #242424;
}

 .blueHighlight{
   background-color: rgb(171, 212, 247) 
 }
 .yellowHighlight{
   background-color: rgb(255, 240, 122) 
 }
 .greenHighlight{
   background-color: rgb(184, 228, 131) 
 }
 .pinkHighlight{
   background-color: rgb(255, 179, 235) 
 }
 .selectedHighlight{
   background-color: rgb(240, 240, 240) !important;
 }

 
